<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title>PEI Application</title>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
    <div layout:fragment="content" class="container">
        <p th:if="${param.error}" class="error">
            Bad Credentials  
        </p>
       <form th:action="@{/login}" method="POST">
            User Name : <input type="text" name="username"/> <br/><br/>
            Password: <input type="password" name="password"/> <br/><br/>
            <input type="submit" value="Login"/>
        </form>
        </div> 
    </body>
</html>